body{
  background: url('images/colorwallpaper.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;


}

.login
{
  position:absolute;
  z-index: 1;
  width:800px;
height:950px;
  top:50px;
  left:50px;
  background-color: rgb(67, 66, 68);
  border-radius:25px;
  perspective: none;
  opacity:0.8;
  border: 2px white solid;
}
div
{
  position:absolute;
  z-index: 2;
  color:white;
  top:450px;
  left:200px;



}
.LoginButton
{
  position:absolute;
  z-index: 2;
  background-color:rgb(113, 110, 112);
  top:800px;
  width:370px;
  height:70px;
  text-align: center;
  border-style: solid;
  left:250px;
}
.LoginButton:hover
{
  opacity:0.7;
}



.loginlogo img
{
  position: absolute;
  z-index: 3;
  width:500px;
  top: -350px;
}

.login-page
{
  position:absolute;
  z-index: 1;
  width:800px;
height:950px;
  top:50px;
  left:50px;
  background-color: rgb(67, 66, 68);
  border-radius:25px;
  perspective: none;
  opacity:0.8;
  border: 2px white solid;
}
.form-login-page
{
  position:relative;
  max-width: 550px;
  top:5px;
  left:-30px;
  margin: 5px auto 50px;
  padding: 20px;
  text-align: center;

  padding-top: 10px;
}
.form input{
  outline:2;
  width:100%;
  box-sizing:border-box;
  border:0;
  padding:30px;
  margin:0 0 20px;
  font-size: 20px;
}
.form
{
  position:relative;
  max-width: 550px;
  top:5px;
  left:5px;
  margin: 5px auto 50px;
  padding: 20px;
  text-align: center;

  padding-top: 5px;
}
.New-User{
  position:absolute;
  z-index: 4;
  top:880px;
  left:200px;
  cursor:pointer;
  font-size: 26px;
}
.forgotlogin
{
  position:absolute;
  z-index: 2;
  color:white;
  top:880px;
  left:450px;
  font-size:26px;
  cursor:pointer;
}
